/* Hide Description (Col 2) and Owner (Col 3) Columns */
table.project_list th:nth-child(2),
table.project_list td:nth-child(2),
table.project_list th:nth-child(3),
table.project_list td:nth-child(3) {
    display: none !important;
}

/* Optional: Make the project list look a bit nicer */
table.project_list {
    width: 100%;
}

/* Fix Logo Aspect Ratio (Gitweb defaults to 72x27, squashing square icons) */
img.logo {
    width: auto !important;
    height: 32px !important;
    position: relative !important;
    top: -4px !important; /* Force it up */
    vertical-align: middle !important;
}
