/* Fix Logo Aspect Ratio (Gitweb defaults to 72x27, squashing square icons) */
img.logo {
    width: auto !important;
    height: 32px !important;
    position: relative !important;
    top: -4px !important; /* Force it up */
    vertical-align: middle !important;
}
