[Unit]
Description=GitHub Action Runner (nutra-server) [deploy-dev]

[Service]
User=github
WorkingDirectory=/home/github/actions-runner
ExecStart=/bin/bash run.sh
Restart=always
Environment="NTSERV_PSQL_PASSWORD=REDACTED"

[Install]
WantedBy=multi-user.target

