[Unit]
Description=Daily auto-update timer for Element Web Client

[Timer]
OnCalendar=daily
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
