[Unit]
Description=Nutra Server (Sanic / PostgreSQL)

[Service]
ExecStart=/usr/bin/env python3 -m ntserv
Restart=always
Environment="NTSERV_ENV=dev" "NTSERV_N_WORKERS=2" "NTSERV_PSQL_PASSWORD=password" "NTSERV_JWT_SECRET=secret" "NTSERV_PROXY_SECRET=secret"

[Install]
WantedBy=multi-user.target

