[Unit]
Description=Nutra Server (Sanic / PostgreSQL)

[Service]
User=sanic
ExecStart=/usr/bin/env python3 -m ntserv
Restart=always
Environment="NTSERV_ENV=dev" "NTSERV_SERVER_HOST=https://deveast.linode.poczatek.dev" "NTSERV_N_WORKERS=2" "NTSERV_PSQL_PASSWORD=REDACTED" "NTSERV_JWT_SECRET=secret" "NTSERV_PROXY_SECRET=secret"

[Install]
WantedBy=multi-user.target

